In [17]:
import pandas as pd
import numpy as np
import math as mt
import matplotlib.pyplot as plt

In [16]:
def tax_calculator():
    tax_slabes=pd.read_html("https://taxsummaries.pwc.com/pakistan/individual/taxes-on-personal-income")[1]
    c1=np.array(list(tax_slabes[0][2:14]))
    c2=np.array(list(tax_slabes[1][2:14]))
    c3=np.array(list(tax_slabes[2][2:14]))
    c4=np.array(list(tax_slabes[3][2:14]))
    c1=c1.astype('float64')
    c2=np.where(c2=='nan',mt.inf,c2).astype('float64')
    c3=np.where(c3=='nan',0,c3).astype('float64')
    c4=np.where(c4=='nan','0%',c4).astype('str')
    data={'Income_Over':c1,'Income_Not_Over':c2,'Tax_on_first_column_PKR':c3,'Percentage_on_excess':c4}
    tax_slabes=pd.DataFrame(data)
    income=input("Enter your income: ")
    try:
        income=int(income)
        if income>=0:
            ind1=np.where(income>=tax_slabes.Income_Over)
            ind2=np.where(income<tax_slabes.Income_Not_Over)
            ind=np.intersect1d(ind1,ind2)
            if(len(ind)==1):
                ind=ind[0]
                tax_label=tax_slabes.filter(items=[ind],axis=0)
                per_exced=tax_label.Percentage_on_excess[ind]
                per_exced=float(per_exced[0:len(per_exced)-1])
                tax_of_column_one=tax_label.Tax_on_first_column_PKR[ind]
                if ind!=0:
                    income=income-tax_label.Income_Over[ind]
                tax_apply=income/100*per_exced+tax_of_column_one
                return print(f"The Amount of Tax which you have to pay is {tax_apply}") , display(tax_label)
            elif (len(ind)<1):
                return print("length of index is less than 1")
            else:
                return print('length of index is excede from 1')
        else:
            return print("Income is must be greater than 0")
    except Exception as e:
        if type(e)==ValueError:
            input_type=type(income)
            if input_type==str:
                print("Please Enter a number not a string")
            else:
                print(f"{input_type} is not valid or contact to the service provider")
        else:
            print(f"Exception {e} occourd please contact to the service provider")
    finally:
        display(tax_slabes)
        

if __name__=="__main__":
    tax_calculator()

Enter your income: 5664634
The Amount of Tax which you have to pay is 819542.65

   Income_Over  Income_Not_Over  Tax_on_first_column_PKR Percentage_on_excess
6    5000000.0        8000000.0                 670000.0                22.5%

    Income_Over  Income_Not_Over  Tax_on_first_column_PKR Percentage_on_excess
0           0.0         600000.0                      0.0                   0%
1      600000.0        1200000.0                      0.0                   5%
2     1200000.0        1800000.0                  30000.0                  10%
3     1800000.0        2500000.0                  90000.0                  15%
4     2500000.0        3500000.0                 195000.0                17.5%
5     3500000.0        5000000.0                 370000.0                  20%
6     5000000.0        8000000.0                 670000.0                22.5%
7     8000000.0       12000000.0                1345000.0                  25%
8    12000000.0       30000000.0                2345000.0                27.5%
9    30000000.0       50000000.0                7295000.0                  30%
10   50000000.0       75000000.0               13295000.0                32.5%
11   75000000.0              inf               21420000.0                  35%